<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-icon name="happy-outline" size="large"></ion-icon>
    <ion-card-header>Birthday</ion-card-header>
    <ion-card-subtitle>Friend's birthday</ion-card-subtitle>
    <ion-card-content> Friend's birthday coming up on June 25, 2024</ion-card-content>
    <ion-label>Perhaps buy a gift?</ion-label>
    <br>
    <ion-icon name="diamond-outline" sizse="large"></ion-icon>
    <ion-card-header>Wedding</ion-card-header>
    <ion-card-subtitle>Brother's Wedding</ion-card-subtitle>
    <ion-card-content> Attend brother's wedding coming up on Oct 1, 2024</ion-card-content>
    <ion-label>RSVP to the event</ion-label>
  </ion-card>

  <ion-card>
    <ion-icon name="mic-outline" size="large"></ion-icon>
    <ion-card-header>Concert</ion-card-header>
    <ion-card-subtitle>Attend concert</ion-card-subtitle>
    <ion-card-content> Concert coming up in July </ion-card-content>
    <ion-label>Buy tickets</ion-label>
    <br>
    <ion-icon name="airplane-outline" size="large"></ion-icon>    
    <ion-card-header>Vacation</ion-card-header>
    <ion-card-subtitle>Fly to Barcelona</ion-card-subtitle>
    <ion-card-content> Go on a vacation to Barcelona on Aug 1, 2024 to Aug 8, 2024</ion-card-content>
    <ion-label>Buy plane tickets</ion-label>
  </ion-card>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
